body { margin:0; font-size:12px; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; height:100%; background-attachment:fixed; color:#333;line-height:1.28; }
input,select{ vertical-align:middle; font-size:12px }
form { margin:0 }
img { border:0; margin:0; }
a { outline:none; color:#3B5998; cursor:pointer; text-decoration:none; }
a:hover { text-decoration:underline; }
.clear { height:0px; line-height:0px; font-size:0px; clear:both; overflow:hidden; padding:0; margin:0; border:0; }
a.btn { 
    border:1px solid #999; height:22px; line-height:22px; float:left; padding:0 6px; background:#EEE; color:#000; font-weight:bold; text-decoration:none; margin:0 2px;
    -webkit-box-shadow : 0 2px 2px -2px rgba(0, 0, 0, .52);
    -moz-box-shadow : 0 2px 2px -2px rgba(0, 0, 0, .52);
    -ms-box-shadow : 0 2px 2px -2px rgba(0, 0, 0, .52);
    background-image : -webkit-linear-gradient(bottom, #DDD, #F6F6F6);
    background-image : -moz-linear-gradient(bottom, #DDD, #F6F6F6);
    background-image : -ms-linear-gradient(bottom, #DDD, #F6F6F6);
}
a.btn:hover {
    background-color:#F2F2F2;
    background-image : -webkit-linear-gradient(bottom, #CCC, #FFF);
    background-image : -moz-linear-gradient(bottom, #CCC, #FFF);
    background-image : -ms-linear-gradient(bottom, #CCC, #FFF);
}
a.btn:active {
    background-color:#CCC;
    background-image : -webkit-linear-gradient(top, #BBB, #DDD);
    background-image : -moz-linear-gradient(top, #BBB, #DDD);
    background-image : -ms-linear-gradient(top, #BBB, #DDD);
}

.icon { 
    height:16px; width:17px; float:left; background:url(../../imgs/cookies.png);    
    -webkit-transition : all 0.2s linear;
    -moz-transition : all 0.2s linear;
    -ms-transition : all 0.2s linear;
}
.icon-wall { background-position:-153px -91px; }
.icon-info { background-position:-154px -107px; }
.icon-photos { background-position:-33px -92px; }
.icon-notes { background-position:3px -128px; }
.icon-friends { background:url(../../imgs/blocks.png) -233px -439px; }
.icon-status { background:url(../../imgs/fragment.png) 0px -381px; }
.icon-post-like { background-position:155px 29px; margin-right:6px; }
.icon-addFriend { background-position:90px 65px; margin-right:6px; }
.icon-newAddress { background-position:-135px -91px; margin-right:6px; }
.icon-work { background:url(../../imgs/fragment.png) -17px -105px; margin-right:6px;  }
.icon-study { background:url(../../imgs/fragment.png) -17px -122px; margin-right:6px;  }
.icon-code { background-position:-73px -128px; margin-right:6px; }
.icon-play { background:url(../../imgs/fragment.png) -16px -223px; margin-right:6px; }
.icon-prise { background-position:-91px -125px; margin-right:6px;   }
.icon-gift { background-position:-104px -109px; margin-right:6px;   }
.icon-like { background:url(../../imgs/facebook.png) -66px -280px; margin-right:6px; }
.icon-post-more { background-position:-170px -91px; margin-right:6px; cursor:pointer; }

.broder-pink {  }

.link-title { font-weight:bold; }
span.date-link { color:#999999!important; }
.no-border { border:0!important; }
.no-margin { margin:0!important; }

.header-menu { 
    position:fixed; background-color:#3B5998; height:37px; width:100%; top:0px; z-index:2;
    -webkit-box-shadow : 0 2px 2px -2px rgba(0, 0, 0, .52); 
    -moz-box-shadow : 0 2px 2px -2px rgba(0, 0, 0, .52); 
    -ms-box-shadow : 0 2px 2px -2px rgba(0, 0, 0, .52); 
}
    .header-wrap{ width:981px; height:37px; margin:0 auto; }
        .logo { 
            display:block; width:103px; height:31px; background:url(../../imgs/facebook.png) no-repeat 0 -182px; margin-top:6px; float:left; margin-right:76px; position:relative; left:-6px;
            -webkit-transition : all 0.2s linear;
            -moz-transition : all 0.2s linear;
            -ms-transition : all 0.2s linear;
        }
        .logo:hover { background-position:0 -151px; background-color:#4B67A1; }
        .sign-wrap {
            float:left; height:22px; width:344px; border:1px solid #123682; border-bottom:0; background:#fff; line-height:22px; padding:0 0 0 6px; margin-top:9px;
            -webkit-border-radius : 1px;
            -webkit-box-shadow : 0px 1px 0 0 #D9D9D9 inset;
            -moz-border-radius : 1px;
            -moz-box-shadow : 0px 1px 0 0 #D9D9D9 inset;
            -ms-border-radius : 1px;
            -ms-box-shadow : 0px 1px 0 0 #D9D9D9 inset;
        }
            .search-btn { height:19px; width:22px; background:url(../../imgs/facebook.png) no-repeat -81px -37px; float:right; }

.main-wrap{ width:981px; position:relative; top:0px; margin:0 auto; margin-top:37px; z-index:1; }
    .left-bar { float:left; width:179px; padding:20px 0; position:relative; z-index:1; }
        .avatar { background:url(../../imgs/avatar.png); width:180px; height:135px; position:relative; left:0px; border-right:1px solid #fff;}
        .side-menu-wrap { margin-top:10px; height:136px; }
            .side-menu-item { 
                text-decoration:none; display:block; height:21px; width:179px; line-height:21px; margin:0 0 1px; color:#333;
                -webkit-transition : all 0.2s linear;
                -moz-transition : all 0.2s linear;
                -ms-transition : all 0.2s linear;
            }
            .side-menu-item:hover { background-color:#D8DFEA; text-decoration:none; }
            .side-menu-item .icon { margin:2px 4px 0 6px; }
            .side-menu-act { background-color:#D8DFEA; color:#000; font-weight:bold; height:48px; line-height:48px; }
            .side-menu-act:hover { background-color:#D8DFEA; text-decoration:none; height:48px; line-height:48px; }
            .side-menu-act .icon { margin-top:17px; }
        .friends-list { border-top:1px solid #EEE; border-bottom:1px solid #EEE; margin-top:12px; padding:8px 0 8px 6px; }
            .friends-count { display:block; margin-bottom:10px; }
            .friend-item { 
                display:block; height:50px; padding:3px 0 3px 62px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; background:no-repeat;
                -webkit-transition : all 0.2s linear;
                -webkit-background-size : 50px 50px;
                -moz-transition : all 0.2s linear;
                -moz-background-size : 50px 50px;
                -ms-transition : all 0.2s linear;
                -ms-background-size : 50px 50px;
            }
        #AddBadge { display:block; margin-top:10px; }
    .mid-bar { 
        float:left; width:759px; border:1px solid #ccc; border-left-color:rgba(128, 128, 128, 0.5); border-top:0px; padding:20px; z-index:2; position:relative;
        -webkit-box-shadow : 1px 1px 0 0 #eee;
        -moz-box-shadow : 1px 1px 0 0 #eee;
        -ms-box-shadow : 1px 1px 0 0 #eee;
    }
        .profile-wrap { clear:right; }
            .profile { width:493px; float:left; }
                #Name { font-size:20px; color:#1C2A47; font-weight:bold; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; margin-bottom:4px; float:left; }
                .profile-item { height:12px; line-height:12px; float:left; margin:4px 8px 2px 0; }
                    .profile-img { height:10px; width:10px; background:url(../../imgs/blocks.png) no-repeat; margin-right:5px; float:left; margin:3px 6px 0 0; }
                    .profile-text { float:left; }
                    #ProfileWork { background-position:-356px -442px; }
                    #ProfileLearn { background-position:-345px -442px; }
                    #ProfileLives { background-position:-396px -442px; }
                    #ProfileFrom { background-position:-377px -442px; }
                    #ProfileBorn { background-position:-366px -442px; }
                .convertor { 
                    height:24px; width:24px; float:right; border:1px solid #fff; margin-top:-8px; background:url(../../imgs/blocks.png) no-repeat -111px -215px; cursor:pointer;
                    opacity:1;
                    filter:alpha(opacity=100);
                    -webkit-transition : width 0.2s linear, opacity 0.2s linear;
                    -webkit-border-radius:2px;
                    -moz-transition : width 0.2s linear, opacity 0.2s linear;
                    -moz-border-radius:2px;
                    -ms-transition : width 0.2s linear, opacity 0.2s linear;
                    -ms-border-radius:2px;
                }
                .convertor:hover { 
                    border:1px solid #dfdfdf; 
                    background-color : #F2F2F2;
                }
                .convertor:active {
                    background-color :#ddd;
                }
                .convertor-hide { 
                    width:0px;
                    opacity:0;
                    border:0;
                    filter:alpha(opacity=0);
                }
                #Forward { }
                #Backward { background-position:-77px -215px; margin-right:4px; }
            .language-btn { float:right; clear:right; width:244px; }
                #LanguageCHBtn { float:right; }
                #LanguageENBtn { float:right; }
        .mid-content { 
            float:left; width:493px; overflow:hidden; border-top:1px solid #ccc; margin-top:12px; padding-top:8px; 
            -webkit-transition : all 0.4s ease-in;
            -moz-transition : all 0.4s ease-in;
            -ms-transition : all 0.4s ease-in;
        }
        .mid-content-hide { 
            height:0px; border:0; margin:0; padding:0;
            opacity:0;
            filter:alpha(opacity=0); 
        }
        .mid-content-show { 
            border-top:1px solid #ccc; margin-top:12px; padding-top:8px; 
            opacity:1; 
            filter:alpha(opacity=100);
        }
            .status {  }
                .status-item { font-weight:bold; }
                    .status .icon { margin:0 4px 0 0; }
                .status-wrap { 
                    opacity : 0.6;
                    filter:alpha(opacity=60);
                    -webkit-transition : all 0.2s linear;
                    -moz-transition : all 0.2s linear;
                    -ms-transition : all 0.2s linear;
                }
                .status-wrap:hover {
                    opacity : 1;
                    filter:alpha(opacity=100);
                }
                    .stratus-arrow { height:7px; width:12px; background:url(../../imgs/blocks.png) -85px -415px; position:relative; top:1px; left:6px; }
                    .status-content { 
                        border:1px solid #8C8C8C; padding:6px; color:#555;
                        -webkit-box-shadow : 0 0 3px 0px #8C8C8C;
                        -moz-box-shadow : 0 0 3px 0px #8C8C8C;
                        -ms-box-shadow : 0 0 3px 0px #8C8C8C;
                    }
            .wall-content { margin-top:20px; }
                .post { padding:12px 0 12px 0; border-bottom:1px solid #E9E9E9; }
                    .post-avatar { 
                        float:left; height:50px; width:50px; margin-right:12px; cursor:pointer;
                        -webkit-background-size : 50px 50px;
                        -moz-background-size : 50px 50px;
                        -ms-background-size : 50px 50px;
                    }
                    .post-body { float:left; width:431px; }
                        .post-content { margin-top:4px; }
                            .card-pic { 
                                width:90px; height:65px; float:left; margin-right:8px; margin-top:8px; margin-bottom:10px;
                                -webkit-background-size : 90px 65px;
                                -moz-background-size : 90px 65px;
                                -ms-background-size : 90px 65px;
                            }
                            .card-text { float:left; width:333px; color:#808080; margin-top:8px; }
                        .post-action { color:#999999; }
                            .post-action a { color:#6B84B4; }
                        .post-comment { float:left; }
                            .gray-arrow { background:url(../../imgs/gray-arrow.png) no-repeat 18px 0px; height:5px; }
                            .comment-item { padding:6px; background:#EDEFF4; border-bottom:1px solid #D2D9E7; margin-bottom:1px; width:388px; }
                                .com-avatar { 
                                    float:left; width:32px; height:32px; margin-right:6px;
                                    -webkit-background-size : 32px 32px;
                                    -moz-background-size : 32px 32px;
                                    -ms-background-size : 32px 32px;
                                }
                                .com-content { float:left; word-break:break-all; width:350px; overflow:hidden; }
                            .comment-item:hover { background-color:#e5e9f4; }
                            .view-more { 
                                overflow:hidden;
                                height:29px;
                                -webkit-transition : all 0.2s ease-in;
                                -moz-transition : all 0.2s ease-in;
                                -ms-transition : all 0.2s ease-in;
                            }
                        .activity-title { font-weight:bold; color:#AAA; margin-bottom:6px; }
                        .activity-item { margin:6px 0; word-break:break-all; }
                        .activiti-avatar { cursor:default; }
                .no-more{ border:1px solid #D8DFEA; padding:10px; background-color:#EDEFF4; }
        #MidContentInfo { border-top:0px; }
            .info-item {  }
                .info-title { 
                    background-color: #F2F2F2; border-top: 1px solid #E2E2E2; padding: 4px; font-weight: bold; margin-top:0;
                    opacity:1; filter:alpha(opacity=100);
                    -webkit-transition : all 0.2s ease-in;
                    -moz-transition : all 0.2s ease-in;
                    -ms-transition : all 0.2s ease-in;
                }
                .sub-info-item { border-bottom:1px solid #D9D9D9; padding:12px 4px; overflow:hidden; }
                    .sub-info-title { float: left; width: 80px; margin-right: 8px; font-weight: bold; color:#999999; }
                    .sub-info-content { overflow:hidden; }
                        .info-work { pointer-events : none; float:left; }
                            .info-work-img { margin-right:12px; float:left;  pointer-events : auto; height:50px; width:50px; }
                            .info-work-txt { font-weight:bold; float:left; pointer-events : auto; }
                            .info-ent-img { height:87px; width:87px; margin-right:16px; cursor:pointer; }
        #MidContentPhotos { border-top:0px; }
            .photo-item { 
                margin:4px 6px; border:1px solid #fff; float:left; position:relative; 
                -webkit-transition : left 0.2s linear, top 0.2s linear, opacity 0.2s linear;
                -moz-transition : left 0.2s linear, top 0.2s linear, opacity 0.2s linear;
                -ms-transition : left 0.2s linear, top 0.2s linear, opacity 0.2s linear;
            }
            .photo-item:hover { border-color:#666; }
                .photo-item img { 
                    width:148px; height:121px; border:1px solid #fff; cursor:pointer; 
                    -webkit-transition : all 0.2s linear;
                    -moz-transition : all 0.2s linear;
                    -ms-transition : all 0.2s linear;
                }
                .photo-item img:hover {border-color:#ccc; }
            .photo-item-hide { left:-64px; top:-24px; opacity:0; filter:alpha(opacity=0); }
            .photo-item-show { left:0px; top:0px; opacity:1; filter:alpha(opacity=100); }
            .pit-hide { opacity:0; filter:alpha(opacity=0); }
        /*TO prevent friend tags's shadow from been hidden*/
        #MidContentFriends.mid-content-show { overflow:visible; }
            .friend-detail-item { 
                margin-bottom: 8px; border-bottom: 1px solid #E9E9E9; padding-bottom: 8px; position:relative;
                -webkit-transition : all 0.2s linear;
                -moz-transition : all 0.2s linear;
                -ms-transition : all 0.2s linear;
            }
            .fdi-show { left:0%; opacity:1; filter:alpha(opacity=0); }
            .fdi-hide { left:50%; opacity:0; filter:alpha(opacity=100); }
            .fdi-last { border:0px; padding-bottom:0px; margin-bottom:0px; }
                .friend-avatar { height:121px; width:148px; float:left; margin-right:12px; cursor:pointer; }
                .firend-info { float:left; width:333px; z-index:0; }
                    .friend-title { width:68px; font-weight:bold; }
                .friend-tag { 
                    width:337px; position:absolute; left:156px; top:48px; overflow:hidden; height:98px; background:#fff; z-index:1; visibility:hidden;
                    opacity:0; 
                    filter:alpha(opacity=0);
                    -webkit-transition : all 0.2s linear;
                    -moz-transition : all 0.2s linear;
                    -ms-transition : all 0.2s linear;
                }
                .friend-tag-show { visibility:visible; top:22px; opacity:1; filter:alpha(opacity=100); }
                .fts-normal {
                    -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,0.52);
                    -moz-box-shadow: 0 0 24px 0 rgba(0,0,0,0.52);
                    -ms-box-shadow: 0 0 24px 0 rgba(0,0,0,0.52);
                }
                .fts-pink {
                    -webkit-box-shadow: 0 0 24px 0 rgba(128, 0, 0, .52);
                    -webkit-border-radius: 12px; 
                    -moz-box-shadow: 0 0 24px 0 rgba(128, 0, 0, .52);
                    -moz-border-radius: 12px; 
                    -ms-box-shadow: 0 0 24px 0 rgba(128, 0, 0, .52);
                    -ms-border-radius: 12px; 
                }
                .fts-reflect {
                    overflow:visible;
                    border:2px solid #d2ef8c;
                    -webkit-box-sizing:border-box;
                    -webkit-box-reflect:below 2px -webkit-linear-gradient(transparent 65%, rgba(0,255,0,0.6));
                    -webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,0.2);
                    -moz-box-sizing:border-box;
                    -moz-box-reflect:below 2px -moz-linear-gradient(transparent 65%, rgba(0,255,0,0.6));
                    -moz-box-shadow:0px 0px 12px 0px rgba(0,0,0,0.2);
                    -ms-box-sizing:border-box;
                    -ms-box-reflect:below 2px -ms-linear-gradient(transparent 65%, rgba(0,255,0,0.6));
                    -ms-box-shadow:0px 0px 12px 0px rgba(0,0,0,0.2);
                }
                .fts-dark {
                    border:2px solid #8fb3ff;
                    -webkit-box-sizing:border-box;
                    -webkit-box-shadow:4px 4px 1px 0px rgba(143,179,255,0.6);
                    -moz-box-sizing:border-box;
                    -moz-box-shadow:4px 4px 1px 0px rgba(148,161,239,0.6);
                    -ms-box-sizing:border-box;
                    -ms-box-shadow:4px 4px 1px 0px rgba(148,161,239,0.6);
                }
                    .tag-item { 
                        cursor:pointer; z-index:1; position:absolute; padding:2px 6px; font-weight:bold; background:#fff; white-space:nowrap; font-family:微软雅黑;
                        opacity:0.7;
                        filter:alpha(opacity=70);
                    }
                    .tag-item:hover { z-index:90; opacity:1; filter:alpha(opacity=100); }
                    .tag-item-show {  }
                    .tis-dark {
                        border:1px solid #74A7FF;
                        -webkit-box-sizing:border-box;
                        -webkit-box-shadow:2px 2px 1px 0px rgba(128,128,128,0.6);
                        background-image : -webkit-linear-gradient(bottom, #d0dcff, #ebf0ff);
                        -moz-box-sizing:border-box;
                        -moz-box-shadow:1px 1px 1px 1px rgba(128,128,128,0.6);
                        background-image : -moz-linear-gradient(bottom, #d0dcff, #ebf0ff);
                        -ms-box-sizing:border-box;
                        -ms-box-shadow:1px 1px 1px 1px rgba(128,128,128,0.6);
                        background-image : -ms-linear-gradient(bottom, #d0dcff, #ebf0ff);
                    }
                    .tis-light {
                        -webkit-box-sizing:border-box;
                        -webkit-box-shadow:2px 2px 2px 0px rgba(128,128,128,0.6);
                        background-image : -webkit-linear-gradient(bottom, #ffeded, #fffbca);
                        -moz-box-sizing:border-box;
                        -moz-box-shadow:2px 2px 2px 0px rgba(128,128,128,0.6);
                        background-image : -moz-linear-gradient(bottom, #E2F6FF, #F1FAFF);
                        -ms-box-sizing:border-box;
                        -ms-box-shadow:2px 2px 2px 0px rgba(128,128,128,0.6);
                        background-image : -ms-linear-gradient(bottom, #E2F6FF, #F1FAFF);
                    }
                    .tis-normal {
                        -webkit-box-sizing:border-box;
                        -webkit-box-shadow:2px 2px 2px 0px rgba(128,128,128,0.6);
                        background-image : -webkit-linear-gradient(bottom, #E2F6FF, #F1FAFF);
                        -moz-box-sizing:border-box;
                        -moz-box-shadow:2px 2px 2px 0px rgba(128,128,128,0.6);
                        background-image : -moz-linear-gradient(bottom, #E2F6FF, #F1FAFF);
                        -ms-box-sizing:border-box;
                        -ms-box-shadow:2px 2px 2px 0px rgba(128,128,128,0.6);
                        background-image : -ms-linear-gradient(bottom, #E2F6FF, #F1FAFF);
                    }
                    .tis-light-shadow {
                        -webkit-box-shadow:0px 0px 12px 0px rgba(234,67,67,0.6);
                        -moz-box-shadow:0px 0px 12px 0px rgba(234,67,67,0.6);
                        -ms-box-shadow:0px 0px 12px 0px rgba(234,67,67,0.6);
                    }
                    .tis-dark-shadow {
                        -webkit-box-shadow:0px 0px 12px 0px rgb(28,55,154);
                        -moz-box-shadow:0px 0px 12px 0px rgb(28,55,154);
                        -ms-box-shadow:0px 0px 12px 0px rgb(28,55,154);
                    }
        .right-content { float:right; width:244px; margin-top:11px; }
            .ad-title { border-top:1px solid #E2E2E2; background:#f2f2f2; padding:6px; font-weight:bold; }
            .ad-item { float:left; margin-top:4px; border-bottom:1px solid #e2e2e2; padding-bottom:8px; width:244px; cursor:pointer; }
            .ad-item:hover { text-decoration:none; background-color:#f6f6f6; }
            .ad-item-last { border:0; }
                .ad-item .link-title { line-height:24px; color:#3B5998; cursor:pointer; }
                .ad-avatar { float:left; margin-right:8px; }
                .ad-content { overflow:hidden; color:#333; }
            #AdNwpuAvatar { background:url(../../imgs/ads/nwpu.jpg); height:75px; width:100px; }
            #AdAnZhongAvatar { background:url(../../imgs/ads/anzhong.jpg); height:75px; width:100px; }
            #AdBaiduAvatar { background:url(../../imgs/ads/baidu.jpg); height:75px; width:100px; }
        .copy-right { clear:both; margin:12px 0 24px 190px; float:left; width:782px; }
            #CopyRightInfo { float:left; }
            #CopyRightText { float:right; }

.top-btn { 
    width:22px; height:26px; top:65%; position:fixed; left:50%; margin-left:489px; border:1px solid #ccc; overflow:hidden; color:#fff; cursor:default; z-index:1; opacity:0;
    -webkit-border-radius: 0px 6px 6px 0px;
    background: url(../../imgs/blocks.png) no-repeat -146px -215px, -webkit-linear-gradient(bottom, #dfdfdf, #efefef);
    -moz-border-radius: 0px 6px 6px 0px;
    background: url(../../imgs/blocks.png) no-repeat -146px -215px, -moz-linear-gradient(bottom, #dfdfdf, #efefef);
    -ms-border-radius: 0px 6px 6px 0px;
    background: url(../../imgs/blocks.png) no-repeat -146px -215px, -ms-linear-gradient(bottom, #dfdfdf, #efefef);
    filter:alpha(opacity=0);
    -webkit-transition : opacity 0.2s linear, top 0.2s linear;
    -moz-transition : opacity 0.2s linear, top 0.2s linear;
    -ms-transition : opacity 0.2s linear, top 0.2s linear;
}
.top-btn:hover {
    background: url(../../imgs/blocks.png) no-repeat -146px -215px, -webkit-linear-gradient(bottom, #d8d8d8, #fefefe);
    background: url(../../imgs/blocks.png) no-repeat -146px -215px, -moz-linear-gradient(bottom, #d8d8d8, #fefefe);
    background: url(../../imgs/blocks.png) no-repeat -146px -215px, -ms-linear-gradient(bottom, #d8d8d8, #fefefe);
}
.top-btn:active {
    background: url(../../imgs/blocks.png) no-repeat -146px -215px, -webkit-linear-gradient(bottom, #efefef, #dfdfdf);
    background: url(../../imgs/blocks.png) no-repeat -146px -215px, -moz-linear-gradient(bottom, #efefef, #dfdfdf);
    background: url(../../imgs/blocks.png) no-repeat -146px -215px, -ms-linear-gradient(bottom, #efefef, #dfdfdf);
}
.top-btn-show {
    cursor:pointer;
    visibility:visible;
    opacity:1;
    top:70%;
}

#GoTopBtn { 
    border-left: 1px solid #efefef; border-top: 1px solid #fff; padding: 6px 4px; 
    -webkit-border-radius: 0px 6px 6px 0px; 
    -moz-border-radius: 0px 6px 6px 0px; 
    -ms-border-radius: 0px 6px 6px 0px; 
}

#FloatPhoto { 
    position: fixed; z-index: 999; left:50%;
    border:12px solid rgba(128,128,128,0.6);
    -webkit-box-sizing:border-box;
    -webkit-border-radius: 8px;
    -webkit-transition-property : opacity, z-index, top, left;
    -webkit-transition-duration : 0.2s;
    -webkit-transition-timint-function : ease-in;
    -moz-border-radius: 8px;
    -moz-box-sizing:border-box;
    -moz-transition-property : opacity, z-index, top, left;
    -moz-transition-duration : 0.2s;
    -moz-transition-timint-function : ease-in;
    -ms-border-radius: 8px;
    -ms-box-sizing:border-box;
    -ms-transition-property : opacity, z-index, top, left;
    -ms-transition-duration : 0.2s;
    -ms-transition-timint-function : ease-in;
}
#FloatPhoto.float-hide { opacity:0; filter:alpha(opacity=0); z-index:0; top:55%; }
#FloatPhoto.float-show { opacity:1; filter:alpha(opacity=100); z-index:999; top:50%; }
    #FloatPhoto  img { max-height:540px; max-width:720px; }
    #CloseFloatPhoto { 
        background:url(../../imgs/blocks.png) no-repeat -13px -203px; width: 48px; height: 48px; position: absolute; right: -32px; top: -32px;
        -webkit-transition : all 0.2s ease-in;
        -moz-transition : all 0.2s ease-in;
        -ms-transition : all 0.2s ease-in;
    }
    #CloseFloatPhoto:hover {
        -webkit-transform: rotate(90deg);
    }
    .photo-comment { position: absolute; bottom: 0px; background: rgba(128, 128, 128, 0.6); color:#fff; width: 100%; height:0px; overflow:hidden;
        opacity:0;
        filter:alpha(opacity=0);
        -webkit-box-sizing: border-box;
        -webkit-transition : all 0.2s ease-in;
        -moz-box-sizing: border-box;
        -moz-transition : all 0.2s ease-in;
        -ms-box-sizing: border-box;
        -ms-transition : all 0.2s ease-in;
    }
    .photo-comment-show { 
        height:auto;
        opacity:1;
        filter:alpha(opacity=100);
    }
        .photo-comment div.date-link { color:#ccc!important; margin-top:2px; }
        .fpc-content { padding-left:38px; }

/*animotions*/

/*appear animotion*/
@-webkit-keyframes appear {
    0%      { -webkit-transform:scale(0.3); }
    25%     { -webkit-transform:scale(1.2); }
    50%     { -webkit-transform:scale(1); }
    75%     { -webkit-transform:scale(1.1); }
    100%    { -webkit-transform:scale(1); }
}
@-moz-keyframes appear {
    0%      { -moz-transform:scale(0.3); }
    25%     { -moz-transform:scale(1.2); }
    50%     { -moz-transform:scale(1); }
    75%     { -moz-transform:scale(1.1); }
    100%    { -moz-transform:scale(1); }
}
@-ms-keyframes appear {
    0%      { -ms-transform:scale(0.3); }
    25%     { -ms-transform:scale(1.2); }
    50%     { -ms-transform:scale(1); }
    75%     { -ms-transform:scale(1.1); }
    100%    { -ms-transform:scale(1); }
}
.friend-tag-show {
    -webkit-animation-name: appear;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
    -moz-animation-name: appear;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.5s;
    -ms-animation-name: appear;
    -ms-animation-timing-function: ease-in;
    -ms-animation-duration: 0.5s;
}

/*jump text animotion*/
@-webkit-keyframes jumper {
    0%      { top:-6px; }
    20%     { top:0px; }
    40%     { top:-4px; }
    60%     { top:0px; }
    80%     { top:-2px; }
    100%    { top:0px; }
}
@-moz-keyframes jumper {
    0%      { top:-6px; }
    20%     { top:0px; }
    40%     { top:-4px; }
    60%     { top:0px; }
    80%     { top:-2px; }
    100%    { top:0px; }
}
@-ms-keyframes jumper {
    0%      { top:-6px; }
    20%     { top:0px; }
    40%     { top:-4px; }
    60%     { top:0px; }
    80%     { top:-2px; }
    100%    { top:0px; }
}
.jumper { position:relative; }
.jumper-ani {
    position:relative;
    -webkit-animation-name: jumper;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
    -moz-animation-name: jumper;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.5s;
    -ms-animation-name: jumper;
    -ms-animation-timing-function: ease-in;
    -ms-animation-duration: 0.5s;
}

/*red*/
@-webkit-keyframes ani-red {
	0%      { color:rgb(255, 0, 0); }
	14%     { color:rgb(255, 0, 255); }
	29%     { color:rgb(0, 0, 255); }
	43%     { color:rgb(0, 255, 255); }
	57%     { color:rgb(0, 255, 0); }
	71%     { color:rgb(255, 255, 0); }
	86%     { color:rgb(255, 128, 0); }
	100%    { color:rgb(255, 0, 0); }
}
@-moz-keyframes ani-red {
	0%      { color:rgb(255, 0, 0); }
	14%     { color:rgb(255, 0, 255); }
	29%     { color:rgb(0, 0, 255); }
	43%     { color:rgb(0, 255, 255); }
	57%     { color:rgb(0, 255, 0); }
	71%     { color:rgb(255, 255, 0); }
	86%     { color:rgb(255, 128, 0); }
	100%    { color:rgb(255, 0, 0); }
}
@-ms-keyframes ani-red {
	0%      { color:rgb(255, 0, 0); }
	14%     { color:rgb(255, 0, 255); }
	29%     { color:rgb(0, 0, 255); }
	43%     { color:rgb(0, 255, 255); }
	57%     { color:rgb(0, 255, 0); }
	71%     { color:rgb(255, 255, 0); }
	86%     { color:rgb(255, 128, 0); }
	100%    { color:rgb(255, 0, 0); }
}
.ani-red {
    color:rgb(255, 0, 0);
    -webkit-animation-name: ani-red;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: normal;
    -moz-animation-name: ani-red;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -moz-animation-direction: normal;
    -ms-animation-name: ani-red;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 2s;
    -ms-animation-direction: normal;
}

/*orange*/
@-webkit-keyframes ani-orange {
	0%      { color:rgb(255, 128, 0); }
	14%     { color:rgb(255, 0, 0); }
	29%     { color:rgb(255, 0, 255); }
	43%     { color:rgb(0, 0, 255); }
	57%     { color:rgb(0, 255, 255); }
	71%     { color:rgb(0, 255, 0); }
	86%     { color:rgb(255, 255, 0); }
	100%    { color:rgb(255, 128, 0); }
}
@-moz-keyframes ani-orange {
	0%      { color:rgb(255, 128, 0); }
	14%     { color:rgb(255, 0, 0); }
	29%     { color:rgb(255, 0, 255); }
	43%     { color:rgb(0, 0, 255); }
	57%     { color:rgb(0, 255, 255); }
	71%     { color:rgb(0, 255, 0); }
	86%     { color:rgb(255, 255, 0); }
	100%    { color:rgb(255, 128, 0); }
}
@-ms-keyframes ani-orange {
	0%      { color:rgb(255, 128, 0); }
	14%     { color:rgb(255, 0, 0); }
	29%     { color:rgb(255, 0, 255); }
	43%     { color:rgb(0, 0, 255); }
	57%     { color:rgb(0, 255, 255); }
	71%     { color:rgb(0, 255, 0); }
	86%     { color:rgb(255, 255, 0); }
	100%    { color:rgb(255, 128, 0); }
}
.ani-orange {
    color:rgb(255, 128, 0);
    -webkit-animation-name: ani-orange;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -moz-animation-name: ani-orange;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -ms-animation-name: ani-orange;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 2s;
}

/*yellow*/
@-webkit-keyframes ani-yellow {
	0%      { color:rgb(255, 255, 0); }
	14%     { color:rgb(255, 128, 0); }
	29%     { color:rgb(255, 0, 0); }
	43%     { color:rgb(255, 0, 255); }
	57%     { color:rgb(0, 0, 255); }
	71%     { color:rgb(0, 255, 255); }
	86%     { color:rgb(0, 255, 0); }
	100%    { color:rgb(255, 255, 0); }
}
@-moz-keyframes ani-yellow {
	0%      { color:rgb(255, 255, 0); }
	14%     { color:rgb(255, 128, 0); }
	29%     { color:rgb(255, 0, 0); }
	43%     { color:rgb(255, 0, 255); }
	57%     { color:rgb(0, 0, 255); }
	71%     { color:rgb(0, 255, 255); }
	86%     { color:rgb(0, 255, 0); }
	100%    { color:rgb(255, 255, 0); }
}
@-ms-keyframes ani-yellow {
	0%      { color:rgb(255, 255, 0); }
	14%     { color:rgb(255, 128, 0); }
	29%     { color:rgb(255, 0, 0); }
	43%     { color:rgb(255, 0, 255); }
	57%     { color:rgb(0, 0, 255); }
	71%     { color:rgb(0, 255, 255); }
	86%     { color:rgb(0, 255, 0); }
	100%    { color:rgb(255, 255, 0); }
}
.ani-yellow {
    color:rgb(255, 255, 0);
    -webkit-animation-name: ani-yellow;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -moz-animation-name: ani-yellow;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -ms-animation-name: ani-yellow;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 2s;
}

/*green*/
@-webkit-keyframes ani-green {
	0%      { color:rgb(0, 255, 0); }
	14%     { color:rgb(255, 255, 0); }
	29%     { color:rgb(255, 128, 0); }
	43%     { color:rgb(255, 0, 0); }
	57%     { color:rgb(255, 0, 255); }
	71%     { color:rgb(0, 0, 255); }
	86%     { color:rgb(0, 255, 255); }
	100%    { color:rgb(0, 255, 0); }
}
@-moz-keyframes ani-green {
	0%      { color:rgb(0, 255, 0); }
	14%     { color:rgb(255, 255, 0); }
	29%     { color:rgb(255, 128, 0); }
	43%     { color:rgb(255, 0, 0); }
	57%     { color:rgb(255, 0, 255); }
	71%     { color:rgb(0, 0, 255); }
	86%     { color:rgb(0, 255, 255); }
	100%    { color:rgb(0, 255, 0); }
}
@-ms-keyframes ani-green {
	0%      { color:rgb(0, 255, 0); }
	14%     { color:rgb(255, 255, 0); }
	29%     { color:rgb(255, 128, 0); }
	43%     { color:rgb(255, 0, 0); }
	57%     { color:rgb(255, 0, 255); }
	71%     { color:rgb(0, 0, 255); }
	86%     { color:rgb(0, 255, 255); }
	100%    { color:rgb(0, 255, 0); }
}
.ani-green {
    color:rgb(0, 255, 0);
    -webkit-animation-name: ani-green;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -moz-animation-name: ani-green;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -ms-animation-name: ani-green;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 2s;
}

/*cyan*/
@-webkit-keyframes ani-cyan {
	0%      { color:rgb(0, 255, 255); }
	14%     { color:rgb(0, 255, 0); }
	29%     { color:rgb(255, 255, 0); }
	43%     { color:rgb(255, 128, 0); }
	57%     { color:rgb(255, 0, 0); }
	71%     { color:rgb(255, 0, 255); }
	86%     { color:rgb(0, 0, 255); }
	100%    { color:rgb(0, 255, 255); }
}
@-moz-keyframes ani-cyan {
	0%      { color:rgb(0, 255, 255); }
	14%     { color:rgb(0, 255, 0); }
	29%     { color:rgb(255, 255, 0); }
	43%     { color:rgb(255, 128, 0); }
	57%     { color:rgb(255, 0, 0); }
	71%     { color:rgb(255, 0, 255); }
	86%     { color:rgb(0, 0, 255); }
	100%    { color:rgb(0, 255, 255); }
}
@-ms-keyframes ani-cyan {
	0%      { color:rgb(0, 255, 255); }
	14%     { color:rgb(0, 255, 0); }
	29%     { color:rgb(255, 255, 0); }
	43%     { color:rgb(255, 128, 0); }
	57%     { color:rgb(255, 0, 0); }
	71%     { color:rgb(255, 0, 255); }
	86%     { color:rgb(0, 0, 255); }
	100%    { color:rgb(0, 255, 255); }
}
.ani-cyan {
    color:rgb(0, 255, 255);
    -webkit-animation-name: ani-cyan;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -moz-animation-name: ani-cyan;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -ms-animation-name: ani-cyan;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 2s;
}

/*blue*/
@-webkit-keyframes ani-blue {
	0%      { color:rgb(0, 0, 255); }
	14%     { color:rgb(0, 255, 255); }
	29%     { color:rgb(0, 255, 0); }
	43%     { color:rgb(255, 255, 0); }
	57%     { color:rgb(255, 128, 0); }
	71%     { color:rgb(255, 0, 0); }
	86%     { color:rgb(255, 0, 255); }
	100%    { color:rgb(0, 0, 255); }
}
@-moz-keyframes ani-blue {
	0%      { color:rgb(0, 0, 255); }
	14%     { color:rgb(0, 255, 255); }
	29%     { color:rgb(0, 255, 0); }
	43%     { color:rgb(255, 255, 0); }
	57%     { color:rgb(255, 128, 0); }
	71%     { color:rgb(255, 0, 0); }
	86%     { color:rgb(255, 0, 255); }
	100%    { color:rgb(0, 0, 255); }
}
@-ms-keyframes ani-blue {
	0%      { color:rgb(0, 0, 255); }
	14%     { color:rgb(0, 255, 255); }
	29%     { color:rgb(0, 255, 0); }
	43%     { color:rgb(255, 255, 0); }
	57%     { color:rgb(255, 128, 0); }
	71%     { color:rgb(255, 0, 0); }
	86%     { color:rgb(255, 0, 255); }
	100%    { color:rgb(0, 0, 255); }
}
.ani-blue {
    color:rgb(0, 0, 255);
    -webkit-animation-name: ani-blue;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -moz-animation-name: ani-blue;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -ms-animation-name: ani-blue;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 2s;
}

/*magenta*/
@-webkit-keyframes ani-magenta {
	0%      { color:rgb(255, 0, 255); }
	14%     { color:rgb(0, 0, 255); }
	29%     { color:rgb(0, 255, 255); }
	43%     { color:rgb(0, 255, 0); }
	57%     { color:rgb(255, 255, 0); }
	71%     { color:rgb(255, 128, 0); }
	86%     { color:rgb(255, 0, 0); }
	100%    { color:rgb(255, 0, 255); }
}
@-moz-keyframes ani-magenta {
	0%      { color:rgb(255, 0, 255); }
	14%     { color:rgb(0, 0, 255); }
	29%     { color:rgb(0, 255, 255); }
	43%     { color:rgb(0, 255, 0); }
	57%     { color:rgb(255, 255, 0); }
	71%     { color:rgb(255, 128, 0); }
	86%     { color:rgb(255, 0, 0); }
	100%    { color:rgb(255, 0, 255); }
}
@-ms-keyframes ani-magenta {
	0%      { color:rgb(255, 0, 255); }
	14%     { color:rgb(0, 0, 255); }
	29%     { color:rgb(0, 255, 255); }
	43%     { color:rgb(0, 255, 0); }
	57%     { color:rgb(255, 255, 0); }
	71%     { color:rgb(255, 128, 0); }
	86%     { color:rgb(255, 0, 0); }
	100%    { color:rgb(255, 0, 255); }
}
.ani-magenta {
    color:rgb(255, 0, 255);
    -webkit-animation-name: ani-magenta;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -moz-animation-name: ani-magenta;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -ms-animation-name: ani-magenta;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 2s;
}